# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.so

# Django
*.log
*.pot
*.pyc
*.mo
*.pyo
*.pyd
__pycache__/
local_settings.py
db.sqlite3
media

# Ignore all migrations except for the __init__.py file
**/migrations/*
!**/migrations/__init__.py

# Virtual Environment
venv/
env/
ENV/
.venv/
.ENV/

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db